@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* shared theme: change these to retheme the whole app */
@theme {
	--color-accent: var(--color-cyan-400);
	--color-accent-focus: var(--color-cyan-200);

	--color-accent-alt: var(--color-green-400);
	--color-accent-alt-focus: var(--color-green-200);

	--color-alt: var(--color-red-400);
	--color-alt-focus: var(--color-red-200);

	--color-background: var(--color-slate-800);

	--border-width: 2px;
}

@utility btn {
	width: 100%;
	padding: --spacing(2);
}

body {
	background: var(--color-background);
	color: var(--color-accent);
}
h1 {
	font-size: 2.5em;
	font-weight: bold;
}

h2 {
	font-size: 2em;
	font-weight: bold;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
}

h5 {
	font-size: 1em;
	font-weight: bold;
}

h6 {
	font-size: 0.9em;
	font-weight: bold;
}
