@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* shared theme: change these to retheme the whole app */
@theme {
	--color-accent: var(--color-cyan-400);
	--color-accent-focus: var(--color-cyan-200);

	--color-accent-alt: var(--color-green-400);
	--color-accent-alt-focus: var(--color-green-200);

	--color-alt: var(--color-red-400);
	--color-alt-focus: var(--color-red-200);

	--color-background: var(--color-slate-900);

	/*
	 * this basically controls the scale of the whole page.
	 * it sets the "line width", and the font size scales to match
	*/
	--border-width-vector: 0.125rem;
}

* {
	border-radius: calc(var(--border-width-vector));

	outline: hidden;

	font-family: "Google Sans Flex", sans-serif;
	font-weight: 560;
	/*font-size: calc(1rem * (var(--border-width-vector) / 0.125rem));*/
	font-size: calc(var(--border-width-vector) / 0.125);
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"slnt" 0,
		"wdth" 100,
		"GRAD" 0,
		"ROND" 100;
}

/* icon strokes stay at the page border width regardless of icon size */
.preview-icon {
	stroke-width: var(--border-width-vector);

	stroke-linecap: round;
	stroke-linejoin: round;

	width: 100%;
	height: 100%;
}
.preview-icon * {
	vector-effect: non-scaling-stroke;
}

button:enabled {
	cursor: pointer;
}

button:disabled {
	opacity: 40%;
}

body {
	background: var(--color-background);
	color: var(--color-accent);
}

/* Fills in the element with a diagonal pattern of lines of the text color */
.filled {
	background: repeating-linear-gradient(
		45deg,
		transparent,
		transparent calc(2 * var(--border-width-vector)),
		currentColor calc(2 * var(--border-width-vector)),
		currentColor calc(3 * var(--border-width-vector))
	);
}

.checker {
	--size: 30px;
	--color-1: #ccc;
	--color-2: #bbb;
	background: conic-gradient(
		var(--color-1) 90deg,
		var(--color-2) 90deg 180deg,
		var(--color-1) 180deg 270deg,
		var(--color-2) 270deg
	);
	background-repeat: repeat;
	background-size: var(--size) var(--size);
	background-position: top left;
}
